
<div class ="center hero-unit">
	<h2>Tony Ehret</h2>

	<h3><p>Welcome to my site. I am TonyTheCoder. </p></h3> 

		<h3><p>Computer Scientist, Amature Web Developer, Database Admin, Outdoor Enthusiast. Currently working in Ruby on Rails, PHP Laravel, MySQL and node.js. </p></h3> 

	<h3><p class ="note">This is just a temporary placeholder.</p></h3>
</div>
